#menu{
	/*border-top: 10px black;*/
	position: fixed;
	bottom: 0px;
	background-color: rgb(255,255,255);
}
 #menu ul{
	list-style: none;
	padding-left: 0px;
	width: 100%;
	margin: 0px 5px ;
}
 #menu a{
	text-decoration: none;
	color: #707070;
}
#menu li{
	display: inline-block;
	width: 18%;
	text-align: center;
	float: left;
	margin: 3px;
}
#menu div{
	width: 64px;
	height: 64px;
	position: relative;
}
#menu span{
	font-size: 15px;
}
#p1 div{
	background-image: url(../img/music灰.png);
}
#p2 div{
	background-image: url(../img/心灰.png);
}
#p3 div{
	background-image: url(../img/音乐灰.png);
}
#p4 div{
	background-image: url(../img/广播电台灰.png);
}
#p5 div{
	background-image: url(../img/搜索灰.png);
}
